<html>
<head>
  <title>Hello</title>
  <script th:src="@{/bower_components/webcomponentsjs/webcomponents.js}"
          src="../bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" th:href="@{/elements/elements.html}"
        href="../elements/elements.html">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"
        href="../styles/styles.css">
</head>
<body>
  <span id="browser-sync-binding"></span>
  <template is="dom-bind">
    <iron-ajax auto
        th:attr="url=@{/echo/hello}" url="/hello.json"
        handle-as="json"
        last-response="{{response}}"
        params='{"echo":"true"}'>
    </iron-ajax>
    <h1>{{response.message}}</h1>
  </template>
</body>
</html>
